# _____Notice_______________________________________________________

## This is an example file.
## Copy and paste this into a .env file in the same path as this one.
## Then modify the values as needed.

# __________________________________________________________________

DATABASE_URL="postgres://user:password@localhost:5432/quento"
MCP_API_KEY="your_api_key"