# _____Notice_______________________________________________________

## This is an example file.
## Copy and paste this into a .env file in the same path as this one.
## Then modify the values as needed.

# __________________________________________________________________

MCP_SERVER_URL=http://localhost:8787
LLM_URL=http://your-ai-api-url.com